
#loader{position:absolute;width:1500px;height:1000px;border: 1px solid black;background:white;z-index: 999;top:0px;left:0px;overflow:clip;}
#loader_caption{font-weight: bold;margin-left:-250px;}
#progress_bar_border{position:absolute;border: 1px solid red;height:auto;weight:auto;margin-left:550px;margin-top:50px;}
#progress_bar{position:absolute;width:auto;height: auto;}

#progress_bar span{position:absolute;padding:10px;border-radius:10px;box-shadow:0px 0px 15px black;width:10px;height:20px;background-color:orange;transform-origin:center;transform: scale(1,1);}

#progress_bar span:nth-child(0)
{
  margin-left:150px;
  animation: loading 3s ease infinite alternate both;
}
#progress_bar span:nth-child(1)
{
  margin-left:15px;
  animation: loading 4s ease infinite alternate both;
  animation-delay:2s;
}
#progress_bar span:nth-child(2)
{
  margin-left:30px;
  animation: loading 3s ease infinite alternate both;
  animation-delay:1s;
}
#progress_bar span:nth-child(3)
{
  margin-left:45px;
  animation: loading 3s ease infinite alternate both;
  animation-delay:4s;
}
#progress_bar span:nth-child(4)
{
  margin-left:60px;
  animation: loading 3s ease infinite alternate both;
}
#progress_bar span:nth-child(5)
{
  margin-left:75px;
  animation: loading 3s ease infinite alternate both;
  animation-delay:2s;
}
#progress_bar span:nth-child(6)
{
  margin-left:90px;
  animation: loading 3s ease infinite alternate both;
  animation-delay:3s;
}
#progress_bar span:nth-child(7)
{
  margin-left:105px;
  animation: loading 3s ease infinite alternate both;
  animation-delay:1s;
}
@keyframes loading
{
  0%{transform: scale(1,2);}
  20%{transform: scale(1,1);}
  40%{transform: scale(1,4);}
  60%{transform: scale(1,1);}
  80%{transform: scale(1,3);}
  100%{transform: scale(1,2);}
  
}
